doctype html 
html
    head 
        title Places Test
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body 
        h1 Places Test
        
        form
            label Label: 
            input#label(type='text', value='Test Place')
            br
            label Address: 
            input#address(type='text', value='123 Main Street, New York, NY')
            br
            button(type='button', onclick='testButton()') Test Button
            button(type='button', onclick='addPlace()') Add Place
        
        div#debug
        
        script(src="/places.js")
        script.
            console.log("Template loaded");
