doctype html 
html
    head 
        title Places Debug
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body 
        h1 JavaScript Debug Test
        
        // Test button with inline JavaScript
        button(onclick="alert('Inline JavaScript works!')") Test Inline JS
        
        // Test button that calls external function
        button(onclick="testFunction()") Test External JS
        
        form
            input#label(type='text', placeholder='Label')
            input#address(type='text', placeholder='Address')
            button(type='button', onclick="addPlace()") Add Place
        
        // Test script block
        script.
            console.log("Inline script executed!");
            function testFunction() {
                alert("External function works!");
                console.log("testFunction called");
            }
        
        // Your external script
        script(src="/places.js")
